apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: {{ grafana_prometheus_url }}
    basicAuth: false
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: {{ grafana_loki_url }}
    basicAuth: false
    isDefault: false
    editable: true
